* {
  padding: 0;
  margin: 0;
}

a, #nav{
  text-decoration: none;
  color: gray;
  margin: 5px;
}

a:hover {
  color: pink;
  font-size: 17px;
}

.col {
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.container {
  display: flex;
  margin: 0 auto;
}

#email {
  width: 15px;
  height: 15px;
}

footer {
  height: 100px;
  background-color: rgba(204,204,204,.5);
  width: 100%;
  margin: 0 auto;
}

#footer-container {
  display: flex;
}

#footer-content {
  flex: 1;
  padding: 35px 0 0 0;
  margin-left: 55px;
  text-align: left;
}

.footer-item {
  padding-right: 10px;
  color: gray;
}

.footer-item img {
  height: 18px;
  width: 18px;
  margin: -3px;
}

h1 {
  float: left;
  font-family: 'Inconsolata', monospace;
  font-weight: lighter;
  font-size: 30px;
  padding: 5px 5px 5px 50px;
}

h2 {
  margin: 5px 0;
  font-size: 30px;
}

h5 {
  margin: 5px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

#header-img {
  width: 100%;
  margin: 0 auto;
  background-size: contain;
}

input {
  width: 28%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

li {
  display: inline;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
}

.name {
  color: black;
  margin-top: 55px;
  font-family: 'Playfair Display', serif;
  margin-left: 20px;
}

#nav-logo {
  height: 200px;
  display: block;
  margin: -75px -88px -120px;
}

#newsletter {
  height: 150px;
  background-color: rgba(204,204,204,.5);
  font-size: 25px;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

p {
  margin: 10px 0;
}

.post-comment {
  margin: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.post-image {
  width: 100%;
  margin: 0;
}

section {
  color: gray;
  font-family: 'Playfair Display', serif;
  margin: 50px auto;
  width: 90%;
}

#social {
  flex: 1;
  padding: 35px 35px 0 0;
  text-align: right;
}

ul#nav {
  font-family: 'Playfair Display', serif;
  padding: 10px 0;
  margin: 40px;
  text-align: right;
  text-decoration: none;
}


@media screen and (max-width: 768px) {

  h1 {
    padding: 5px 0 0 50px;
  }

  .container {
    display: block;
  }

  a, #nav{
    padding-left: 0;
  }

  .name {
    margin-left: -12px;
  }

}
